<div class="container">
    <h1 class="text-center m0">Регистрация</h1>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form ng-submit="signup()" name="signupForm" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Промо-код</label>
                    <div class="col-sm-8"><input type="text" ng-model="data.inviteID" ng-disabled="disableCode" class="form-control" required placeholder="Укажите код выданный в приглашении"></div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Имя</label>
                    <div class="col-sm-8"><input type="text" ng-model="data.name" class="form-control" required placeholder="Иван"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Фамилия</label>
                    <div class="col-sm-8"><input type="text" ng-model="data.surname" class="form-control" required placeholder="Иванов"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8"><input type="email" ng-model="data.email" class="form-control" required placeholder="mail@mail.ru"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Пароль</label>
                    <div class="col-sm-8"><input type="password" ng-model="data.password" class="form-control" required placeholder="123"></div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 control-label">Тип аккаунта</label>
                    <div class="col-sm-8">
                        <select placeholder="Тип аккаунта" ng-model="data.role" class="form-control" required ng-disabled="disableRole">
                            <option ng-value="item.id" ng-repeat="item in roles" ng-selected="(item.id==data.role)">{{ item.text }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary wp100" ng-disabled="signupForm.$invalid">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>