<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-bar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/games">Часовой бег</a>
        </div>

        <div class="collapse navbar-collapse" id="header-bar">
            <ul class="nav navbar-nav">
                <li><a href="#/games">Соревнования</a></li>
                <li><a href="#/games/{{selectedGameId}}">{{selectedGameName}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>