<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-bar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Часовой бег</a>
        </div>

        <div class="collapse navbar-collapse" id="header-bar">
            <ul class="nav navbar-nav">
                <li><a href="#/games">Соревнования</a></li>
                <li><a href="#/players">Участники</a></li>
                <li ng-show="showGameTitle"><a href="#/games/{{_id}}">{{title}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Пользователи<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/players">Список пользователей</a></li>
                        <li><a href="#/players/invite">Пригласить</a></li>
                        <li><a href="#/players/roles">Типы аккаунтов</a></li>
                    </ul>
                </li>
                <li><a href="#/profile">Профиль</a></li>
                <li><a href="" ng-click="logout()">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>